.avatar {
    width: 16rem;
}

.music_card_container{
    list-style: none;
    width: 18rem;
    height: 20rem;
    margin-top: 2rem;
    background-color: rgba(60, 60, 60, 0.5);
    backdrop-filter: blur(20px);
}
.music_card_title{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.music_card_subtitle{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.music_card{
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    width: 91%;
    margin-left: 0.8rem;
    margin-top: 0.8rem;
}

.music_card:hover{
    opacity: 0.5;
}